* {
  box-sizing: border-box;
}

body {
  transform-style: preserve-3d;
}

body {
  margin: 0;
  background: transparent;
}

.container {
  height: 100%;
  max-width: 1140px;
  margin: auto;
}

textarea {
  resize: none;
}

@media (max-width: 1173px) {
  .container {
    max-width: 990px;
  }
}

@media (max-width: 1020px) {
  .container {
    max-width: 770px;
  }
  .hidden {
    display: none !important;
  }
}

@media (max-width: 780px) {
  .container {
    max-width: none;
    padding: 0 15px;
  }
}

@font-face {
  font-family: 'Open Sans Light';
  src: url("../fonts/OpenSans-Light.eot");
  src: url("../fonts/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Regular';
  src: url("../fonts/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Semibold';
  src: url("../fonts/OpenSans-SemiBold.eot");
  src: url("../fonts/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Bold';
  src: url("../fonts/OpenSans-Bold.eot");
  src: url("../fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed Bold';
  src: url("../fonts/RobotoCondensed-Bold.eot");
  src: url("../fonts/RobotoCondensed-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensed-Bold.woff") format("woff"), url("../fonts/RobotoCondensed-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed Regular';
  src: url("../fonts/RobotoCondensed-Regular.eot");
  src: url("../fonts/RobotoCondensed-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensed-Regular.woff") format("woff"), url("../fonts/RobotoCondensed-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.icon {
  height: 35px;
  width: 35px;
  margin-right: 10px;
}

.icon-next {
  height: 35px;
  width: 35px;
  margin-left: 10px;
}

.icon-medium {
  height: 50px;
  width: 50px;
}

.icon_big {
  height: 100px;
  width: 100px;
}

.arrow {
  height: 10px;
  width: 10px;
  margin-left: 7px;
  transition: 0.3s;
}

.arrow_active {
  margin-bottom: -5px;
  transition: 0.3s;
}

.label {
  display: block;
  font-family: 'Open Sans Bold';
  font-size: 16px;
  color: #3A3A3A;
  height: 15px;
}

.label_primary {
  font-family: 'Open Sans Regular';
  font-size: 14px;
  color: #3a3a3a;
}

.input {
  font-family: 'Open Sans Light';
  font-size: 13px;
  padding: 13px 115px 13px 20px;
  width: 273px;
  border: 1px solid #c8cbcf;
  border-radius: 3px;
}

.button {
  padding: 17px 33px;
  font-family: 'Open Sans Semibold';
  text-transform: uppercase;
  font-size: 14px;
  color: #ffffff;
  margin: 15px auto;
  background: #e93b3b;
  border: none;
  border-radius: 5px;
  transition: ease-in-out 0.3s;
}

.button:hover {
  background: #ca0000d5;
  cursor: pointer;
}

.button:active {
  background: #ffffff;
  color: #ca0000d5;
}

.button:focus {
  outline: none;
}

.button_primary {
  width: 300px;
  height: 60px;
  font-family: 'Open Sans Light';
  color: #ffff;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 10px;
  font-size: 20px;
  transition: ease-in-out .3s;
}

.button_primary:hover {
  background-color: #ffffff;
  color: #000000fd;
  cursor: pointer;
}

.button_primary:active {
  background-color: #000000fd;
  color: #ffff;
}

.button_primary:focus {
  outline: none;
}

.dimensions {
  font-family: 'Open Sans Light';
  color: #616467;
  font-size: 13px;
  margin: 0 10px;
  width: 70px;
  height: 50px;
  text-align: center;
  border: 1px solid #c8cbcf;
}

.dimensions:focus {
  outline: none;
  box-shadow: 0px 0px 4px 0px #c8cbcf;
}

.dimensions_primary {
  font-family: 'Open Sans Light';
  font-size: 13px;
  color: #616467;
  width: 95px;
  height: 50px;
  margin: 0 10px;
  border: 1px solid #c8cbcf;
  text-align: center;
}

.dimensions_primary:focus {
  outline: none;
  box-shadow: 0px 0px 4px 0px #c8cbcf;
}

.decoration-line {
  width: 2px;
  height: 82px;
  background-color: #d3d6d8;
  z-index: 1;
}

@media (max-width: 1020px) {
  .dimensions {
    margin: 0 5px;
  }
  .dimensions_primary {
    margin: 0 5px;
    width: 90px;
  }
  .label {
    font-size: 14px;
  }
}

.header {
  background: #25333c;
  height: 50px;
  position: relative;
}

.header__info {
  width: 1140px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  font-size: 14px;
  font-family: 'Open Sans Light';
  color: #d3d6d8;
}

.header__mobile {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Open Sans Bold';
}

.header__email {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__button {
  border: 1px solid;
  background: none;
  width: 105px;
  height: 30px;
  text-transform: uppercase;
  font-size: 14px;
  transition: all 0.3s;
  font-family: 'Open Sans Light';
  color: #d3d6d8;
}

.header__button:hover {
  box-shadow: 0px 1px 10px -1px #25333c;
  background: #d3d6d8;
  color: #25333c;
  cursor: pointer;
}

.header__button:active {
  -webkit-tap-highlight-color: transparent;
  background: #1a1f22;
  color: #d3d6d8;
  outline: none;
}

.header__button:focus {
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

.header__track-delivery {
  display: block;
  position: relative;
  text-decoration: none;
  color: #d3d6d8;
  margin: auto 20px;
  cursor: pointer;
}

.header__track-delivery-container {
  display: flex;
  justify-content: flex-end;
  height: inherit;
  width: fit-content;
}

.header__track-delivery::after {
  background-color: #d3d6d8;
  display: block;
  content: "";
  bottom: -2px;
  height: 1px;
  width: 0%;
  left: 50%;
  position: absolute;
  transition: width .4s;
  transform: translateX(-50%);
}

.header__track-delivery:hover::after {
  width: 100%;
}

.header__track-delivery:focus::after {
  width: 100%;
}

.mobile-logo {
  height: 18px;
  width: 18px;
  margin-right: 7px;
}

.calculate-price-logo {
  height: 18px;
  width: 18px;
  margin-right: 7px;
}

.delivery-logo {
  height: 18px;
  width: 18px;
  margin-right: 7px;
}

.email-logo {
  height: 18px;
  width: 18px;
  margin-right: 7px;
}

@media (max-width: 1173px) {
  .header__email {
    display: none;
  }
  .header__mobile {
    display: none;
  }
  .header__track-delivery a:nth-of-type(1) {
    font-size: 20px;
  }
  .header__track-delivery a:nth-of-type(2) {
    font-size: 20px;
  }
}

@media (max-width: 1020px) {
  .header {
    z-index: 1;
  }
  .header__track-delivery {
    z-index: 100;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    width: 50px;
    height: 50px;
  }
  .header__track-delivery:focus,
  .header__track-delivery:active {
    -webkit-tap-highlight-color: transparent;
    background-color: rgba(242, 242, 242, 0.1);
    border-radius: 50%;
    cursor: pointer;
  }
  .header__track-delivery::after {
    display: none;
  }
  iframe {
    width: 750px;
    height: 375px;
  }
  .calculate-price-logo {
    display: inline;
    position: relative;
    margin: 0;
    height: 30px;
    width: 30px;
  }
  .calculate-price-logo__text {
    display: none;
  }
  .delivery-logo {
    position: relative;
    display: inline;
    margin: 0;
    height: 30px;
    width: 30px;
  }
  .delivery-logo__text {
    display: none;
  }
}

@media (max-width: 490px) {
  .header {
    height: 45px;
  }
  .header__button {
    width: 105px;
    height: 30px;
    font-size: 14px;
  }
  .header__track-delivery {
    height: 40px;
    width: 40px;
  }
  .calculate-price-logo {
    height: 25px;
    width: 25px;
  }
  .delivery-logo {
    height: 25px;
    width: 25px;
  }
}

.hero {
  height: 740px;
  width: 100%;
  background-image: url("../img/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
  overflow-x: hidden;
  perspective: 1000px;
}

.hero__inner {
  width: 100%;
  height: 100%;
  transform-origin: right center;
  transition: 0.6s;
}

.hero__logo {
  height: inherit;
  width: 490px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.hero__logo-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.hero__nav-wrap {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  position: relative;
}

.hero__navbar {
  width: 650px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.hero__navbar-link {
  font-family: 'Open Sans Bold';
  text-transform: uppercase;
  color: #ffffff;
  font-size: 13px;
  text-decoration: none;
}

.hero__navbar-link:hover .arrow {
  margin-bottom: -5px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.hero__title-wrap {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}

.hero__title {
  font-family: 'Open Sans Bold';
  font-size: 48px;
  text-transform: uppercase;
  color: #ffffff;
}

.hero__main {
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hero__form-wrap {
  width: 315px;
}

.hero__form-title {
  height: 70px;
  background: #25333c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__form-title span:nth-of-type(1) {
  font-family: 'Open Sans Bold';
  text-transform: uppercase;
  font-size: 19px;
  color: #ffffff;
  line-height: 15px;
}

.hero__form-title span:nth-of-type(2) {
  font-family: 'Open Sans Semibold';
  text-transform: uppercase;
  font-size: 14px;
  color: #ffffff;
}

.hero__input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 330px;
  background: rgba(213, 210, 212, 0.7);
}

.hero__input-group {
  padding-top: 15px;
  width: 280px;
  height: 225px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.hero__form-input:nth-child(4) {
  width: 273px;
  height: 50px;
  padding: 10px 150px 20px 20px;
}

.hero__form-button {
  font-family: 'Open Sans Semibold';
  text-transform: uppercase;
  font-size: 14px;
  color: #ffffff;
  margin-top: 15px;
  padding: 15px 30px;
  background: #e93b3b;
  border: none;
  border-radius: 5px;
  transition: 0.3s;
}

.hero__form-button:hover {
  background: #ca0000d5;
  cursor: pointer;
  transition: 0.3s;
}

.hero__form-button:active {
  transition: 0.4s;
  background: #ffffff;
  color: #ca0000d5;
}

.hero__form-button:focus {
  outline: none;
}

#logo-bold {
  font-family: 'Roboto Condensed Bold';
  color: #ffffff;
  font-size: 27px;
  text-transform: uppercase;
}

#logo-regular {
  font-family: 'Roboto Condensed Regular';
  color: #ffffff;
  font-size: 12px;
  text-transform: uppercase;
}

.sidebar {
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 440px;
  height: 740px;
  background: rgba(37, 51, 60, 0.4);
  transition: 0.6s;
  transform: translateX(-100%);
}

.sidebar:target {
  transform: translateX(0);
}

.sidebar__icon {
  margin-right: 0;
  margin-left: 10px;
}

.sidebar__row {
  position: relative;
  flex-direction: row;
  align-items: center;
  display: flex;
  width: 90%;
  height: 60px;
  border-radius: 5px;
  cursor: pointer;
  transition: .3s;
}

.sidebar__row:hover {
  background-color: rgba(68, 116, 146, 0.2);
  transition: .3s;
  outline: 0;
}

.sidebar__row:active {
  -webkit-tap-highlight-color: transparent;
  background-color: rgba(37, 51, 60, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.2);
  outline: 0;
}

.sidebar__title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  font-family: 'Open Sans Bold';
  font-size: 24px;
  color: #ffffff;
  text-transform: uppercase;
}

.sidebar__title_news {
  font-family: 'Open Sans Light';
  font-size: 20px;
}

.sidebar__links {
  display: flex;
  align-items: flex-end;
  margin-left: 30px;
  text-decoration: none;
  font-family: 'Open Sans Light';
  font-size: 20px;
  color: #ffffff;
}

.sidebar__links-group {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 380px;
  height: 550px;
  border: 1px solid #ffffff;
  border-radius: 2%;
}

.sidebar__links-group:nth-child(5) {
  justify-content: space-between;
}

.sidebar:target ~ .hero__inner {
  transform: rotateY(-15deg);
}

.close-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
}

.close-btn:hover {
  color: #e9e5e5;
}

@media (max-width: 1810px) {
  .sidebar:target ~ .hero__inner {
    transform: rotateY(-20deg);
  }
}

@media (max-width: 1610px) {
  .sidebar:target ~ .hero__inner {
    transform: rotateY(-25deg);
  }
}

@media (max-width: 1520px) {
  .sidebar:target ~ .hero__inner {
    transform: rotateY(-30deg);
  }
}

@media (max-width: 1420px) {
  .sidebar:target ~ .hero__inner {
    transform: rotateY(-40deg);
  }
}

@media (max-width: 1240px) {
  .sidebar:target ~ .hero__inner {
    transform: rotateY(-45deg);
  }
}

@media (max-width: 1173px) {
  .hero {
    height: 1140px;
    position: relative;
  }
  .hero__navbar-link {
    -webkit-tap-highlight-color: rgba(37, 51, 60, 0.2);
  }
  .hero__main {
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .hero__title {
    font-size: 30px;
  }
  .hero__form {
    position: relative;
  }
  .hero__form-title {
    position: absolute;
    left: 0;
    right: 0;
    top: -65px;
    border-radius: 5px;
    background: #25333c;
  }
  .hero__form-wrap {
    width: 450px;
  }
  .hero__input-container {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
  }
  .hero__logo {
    width: 330px;
  }
  .hero__form-title span:nth-of-type(1) {
    color: #ffff;
    margin-bottom: 3px;
  }
  .hero__form-title span:nth-of-type(2) {
    color: #ffff;
  }
  .sidebar {
    left: 0;
    bottom: 0;
    width: 48%;
    height: 100%;
    background: rgba(37, 51, 60, 0.4);
    transition: 1.3s;
    transform: translateX(-100%);
  }
  .sidebar__row {
    justify-content: flex-start;
  }
  .sidebar__row:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    transition: .4s;
  }
  .sidebar__row:active {
    -webkit-tap-highlight-color: transparent;
    background-color: rgba(37, 51, 60, 0.6);
  }
  .sidebar__title {
    font-size: 48px;
  }
  .sidebar__links {
    font-size: 23px;
    height: 40px;
    margin-left: 10px;
  }
  .sidebar__links-group {
    width: 80%;
    margin: 0 0 110px 0;
    height: 750px;
    background-color: rgba(37, 51, 60, 0.25);
  }
  .sidebar__icon {
    margin-left: 10px;
    height: 40px;
    width: 40px;
  }
  .sidebar:target {
    transition: 1.4s;
    transform: translateX(0);
  }
  .sidebar:target ~ .hero__inner {
    transform: translateX(50%);
    transition: 1.4s;
  }
  .sidebar:target ~ .hero__nav-wrap {
    left: -100%;
  }
  .sidebar ~ .hero__inner {
    transform: translateX(0);
    transition: 1.4s;
  }
  .close-btn {
    font-size: 30px;
  }
  .close-btn:hover {
    color: #e9e5e5;
    -webkit-tap-highlight-color: rgba(37, 51, 60, 0.2);
  }
  .arrow {
    display: none;
  }
}

@media (max-width: 1020px) {
  .hero__title {
    text-align: center;
  }
  .hero__logo {
    display: none;
  }
  .hero__nav-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .sidebar__title {
    height: 30px;
    font-size: 30px;
  }
}

@media (max-width: 780px) {
  iframe {
    width: 560px;
    height: 280px;
  }
  .sidebar {
    width: 55%;
  }
  .sidebar__icon {
    margin-left: 10px;
    height: 30px;
    width: 30px;
  }
  .sidebar__links {
    font-size: 20px;
  }
  .sidebar__links-group {
    height: 700px;
  }
  .sidebar:target ~ .hero__inner {
    transform: translateX(60%);
  }
}

@media (max-width: 590px) {
  iframe {
    width: 460px;
    height: 230px;
  }
  .hero {
    height: 900px;
  }
  .hero__title {
    font-size: 25px;
  }
  .hero__title-wrap {
    height: 100px;
  }
  .hero__navbar-link {
    font-size: 10px;
    display: block;
    position: relative;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  .hero__navbar-link::after {
    display: block;
    content: '';
    background-color: #ffffff;
    position: absolute;
    height: 1px;
    width: 0%;
    left: 50%;
    transition: width .4s ease-in-out;
    transform: translateX(-50%);
  }
  .hero__navbar-link:active {
    text-decoration: none;
  }
  .hero__navbar-link:hover::after {
    width: 100%;
  }
  .hero__navbar-link:focus::after {
    width: 100%;
  }
  .hero__nav-wrap {
    height: 55px;
  }
  .hero__main {
    height: 700px;
  }
  .hero__form-wrap {
    width: 90%;
    margin-top: 40px;
  }
  .sidebar__links {
    font-size: 17px;
    height: 30px;
  }
  .sidebar__links-group {
    height: 550px;
    margin-bottom: 200px;
  }
  .sidebar__title {
    font-size: 25px;
  }
  .sidebar__icon {
    height: 25px;
    width: 25px;
  }
}

@media (max-width: 490px) {
  .hero__form-wrap {
    margin-top: 30px;
  }
  iframe {
    width: 360px;
    height: 180px;
  }
  .sidebar {
    width: 260px;
  }
  .sidebar:target ~ .hero__inner {
    transform: translateX(75%);
  }
}

@media (max-width: 390px) {
  iframe {
    width: 300px;
    height: 150px;
  }
  .hero__form-wrap {
    width: 300px;
  }
  .hero__input-group {
    width: 300px;
  }
  .hero__navbar-link {
    font-size: 7px;
  }
  .sidebar__links {
    font-size: 15px;
  }
  .sidebar__links-group {
    height: 450px;
    margin-bottom: 350px;
  }
  .sidebar:target ~ .hero__inner {
    transform: translateX(90%);
  }
}

.main-title {
  font-family: 'Open Sans Regular';
  color: #3A3A3A;
  font-size: 30px;
  text-align: center;
}

.advantages {
  height: 235px;
  background-color: #f3f3f3;
}

.advantages__inner {
  height: 230px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.advantages__block {
  height: 150px;
  display: flex;
  flex-basis: 22%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.advantages__title {
  font-family: 'Open Sans Bold';
  font-size: 14px;
  color: #e93b3e;
}

.advantages__description {
  font-family: 'Open Sans Light';
  font-size: 13px;
  margin: 0;
  text-align: center;
}

@media (max-width: 1173px) {
  .advantages__inner {
    height: inherit;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

@media (max-width: 1020px) {
  .advantages {
    height: 200px;
  }
  .advantages__title {
    font-size: 12px;
  }
  .advantages__description {
    font-size: 11px;
  }
  .advantages__block {
    height: 120px;
  }
}

@media (max-width: 780px) {
  .advantages__logos {
    height: 45px;
    width: 45px;
  }
  .advantages__title {
    font-size: 10px;
  }
  .advantages__description {
    font-size: 10px;
  }
}

@media (max-width: 590px) {
  .advantages {
    height: 300px;
  }
  .advantages__block {
    flex-basis: 40%;
  }
}

@media (max-width: 390px) {
  .advantages {
    height: 200px;
  }
  .advantages__title {
    font-size: 12px;
  }
  .advantages__description {
    display: none;
  }
  .advantages__block {
    height: 70px;
  }
}

.calculator {
  height: 515px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffff;
}

.calculator__inner {
  height: 425px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.calculator__logo-wrap {
  height: 100px;
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid #e93b3e;
  border-radius: 50px;
  margin: 0 10px;
}

.calculator__logo-position {
  text-align: center;
}

.calculator__form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.calculator__form-border {
  height: 350px;
  border: 1px solid #e93b3e;
  padding: 0;
}

.calculator__form-select {
  display: inline;
  position: relative;
  cursor: pointer;
  height: 50px;
  width: 265px;
  border: 1px solid #C1C4C7;
}

.calculator__form-select-wrap {
  width: 275px;
  height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.calculator__form-select-option {
  padding: 10px 0 10px 18px;
  color: #616467;
  transition: 0.2s;
}

.calculator__form-select-option:hover {
  background-color: #f0f3f7;
  cursor: pointer;
}

.calculator__form-select-checked {
  z-index: 0;
  padding: 15px 0 17px 18px;
  font-family: 'Open Sans Light';
  color: #616467;
  font-size: 13px;
}

.calculator__form-select-dropdown {
  display: none;
  position: absolute;
  list-style: none;
  z-index: 10;
  width: inherit;
  top: 50px;
  padding: 0;
  margin: 0;
  left: -1px;
  background-color: #ffffff;
  border: 1px solid #c8cbcf;
  font-family: 'Open Sans Light';
  font-size: 13px;
  color: #3A3A3A;
}

.calculator__form-select-dropdown-open {
  display: block;
}

.calculator__form-select::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 100%;
  background-image: url("../img/caret.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F3F3F3;
  border-left: 1px solid #c8cbcf;
}

.calculator__form-product-dimensions-container {
  height: 80px;
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}

.calculator__form-product-dimensions-row {
  width: inherit;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.calculator__form-product-dimensions-row label:nth-of-type(1) {
  margin-left: 10px;
}

.calculator__form-product-dimensions-row label:nth-of-type(2) {
  margin-left: 10px;
}

.calculator__submit-btn-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  width: 183px;
  background-color: #ffff;
  bottom: 0px;
  margin: auto;
}

#delivery-calculator {
  width: inherit;
  height: 210px;
  position: relative;
}

#delivery-type {
  width: 275px;
  font-family: 'Open Sans Light';
  font-size: 13px;
  border: 1px solid #c8cbcf;
  padding: 17px 113px 17px 17px;
}

#delivery-type:focus {
  outline: #c8cbcf;
  box-shadow: 0px 0px 4px 0px #c8cbcf;
}

@media (max-width: 1173px) {
  .calculator {
    height: 650px;
  }
  .calculator__inner {
    height: 550px;
  }
  .calculator__logo-wrap {
    margin-bottom: 20px;
  }
  .calculator__form {
    align-content: space-between;
  }
  .calculator__form-product-dimensions-container {
    margin: 0;
  }
  .calculator__form-border {
    height: 460px;
  }
  .calculator__form-select-wrap:nth-child(4) {
    align-items: center;
  }
  .calculator__submit-btn-wrap {
    bottom: -5px;
  }
  #delivery-calculator {
    height: 295px;
  }
}

@media (max-width: 780px) {
  .calculator__inner {
    height: 600px;
  }
  .calculator__form-border {
    height: 525px;
  }
  .calculator__form-product-dimensions-row {
    width: inherit;
    height: 120px;
    flex-wrap: wrap;
    align-content: space-between;
  }
  .calculator__form-product-dimensions-container {
    height: 150px;
    width: 430px;
  }
  #delivery-calculator {
    height: 355px;
  }
}

@media (max-width: 590px) {
  .calculator {
    height: 900px;
  }
  .calculator__inner {
    height: 850px;
  }
  .calculator__form-border {
    height: 770px;
  }
  #delivery-calculator {
    height: 600px;
  }
  .main-title {
    font-size: 25px;
  }
}

@media (max-width: 490px) {
  .calculator__form-product-dimensions-row {
    height: 170px;
    width: inherit;
  }
  .calculator__form-product-dimensions-container {
    height: 200px;
    width: 360px;
  }
}

@media (max-width: 490px) {
  .calculator__form-product-dimensions-row div {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .calculator__form-product-dimensions-container {
    width: 300px;
  }
}

.hot-offers {
  width: 100%;
  height: 680px;
  background-color: #f3f3f3;
  display: flex;
  justify-content: center;
}

.hot-offers__inner {
  width: 995px;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hot-offers__titles {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 65px;
  width: 555px;
}

.hot-offers__titles-container {
  height: 90px;
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.hot-offers__title {
  display: flex;
  justify-content: center;
  margin-top: 0;
  height: 30px;
  font-family: 'Open Sans Regular';
  color: #3a3a3a;
  font-size: 30px;
}

.hot-offers__title_primary {
  display: flex;
  justify-content: center;
  font-family: 'Open Sans Light';
  color: #3f3f3f;
  font-size: 19px;
}

.hot-offers__forms-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 495px;
  width: inherit;
}

.hot-offers__form {
  width: 310px;
  height: 490px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hot-offers__form-comment {
  font-family: 'Open Sans Light';
  font-size: 13px;
}

.hot-offers__form-comment-wrap {
  text-align: center;
  width: 200px;
  height: 30px;
  margin-top: 10px;
}

.hot-offers__form-title {
  text-transform: uppercase;
  font-family: 'Open Sans Bold';
  font-size: 16px;
  color: #ffff;
}

.hot-offers__form-title-container {
  width: inherit;
  height: 65px;
  background-color: #25333c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hot-offers__logo-wrap {
  height: 70px;
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1.3s;
}

.hot-offers__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50px;
  width: inherit;
}

.hot-offers__description_big {
  font-family: 'Open Sans Semibold';
  font-size: 26px;
  color: #E93B3B;
}

.hot-offers__description_small {
  font-family: 'Open Sans Semibold';
  font-size: 18px;
  text-transform: uppercase;
  color: #3a3a3a;
}

.hot-offers__inputs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 135px;
  width: inherit;
  margin-top: 10px;
}

@media (max-width: 1020px) {
  .hot-offers {
    height: 400px;
    transition: 2s;
  }
  .hot-offers_once-open {
    height: 890px !important;
  }
  .hot-offers_twice-open {
    height: 1380px  !important;
  }
  .hot-offers_tree-times-open {
    height: 1870px  !important;
  }
  .hot-offers__inner {
    width: inherit;
  }
  .hot-offers__titles-container {
    height: 100px;
    align-items: center;
  }
  .hot-offers__titles {
    height: 100px;
    justify-content: center;
  }
  .hot-offers__title {
    height: 45px;
    text-align: center;
  }
  .hot-offers__title_primary {
    text-align: center;
  }
  .hot-offers__forms-container {
    display: flex;
    align-content: center;
    height: inherit;
    width: inherit;
    flex-wrap: wrap;
    justify-content: center;
  }
  .hot-offers__form {
    display: flex;
    flex-wrap: wrap;
    height: 65px;
    border-radius: 5px;
    width: 555px;
    margin: 10px 0;
    transition: 1.5s;
    overflow: hidden;
  }
  .hot-offers__form-open {
    height: 490px;
  }
  .hot-offers__form-title {
    font-family: 'Open Sans Semibold';
  }
}

@media (max-width: 590px) {
  .hot-offers {
    height: 450px;
  }
  .hot-offers__titles-container {
    height: 150px;
  }
  .hot-offers__title {
    font-size: 25px;
  }
  .hot-offers__title_primary {
    font-size: 15px;
  }
  .hot-offers__form {
    width: 100%;
  }
  .hot-offers__form-title {
    font-size: 14px;
  }
}

@media (max-width: 431px) {
  .hot-offers__title {
    height: 80px;
  }
}

.china-agent {
  display: block;
  position: relative;
  height: 345px;
  background-image: url("../img/china-agent-bg.jpeg");
  background-position: right 53%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.china-agent::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.china-agent__inner {
  display: flex;
  align-items: flex-start;
  z-index: 3;
}

.china-agent__content-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 330px;
  width: 100%;
  color: #ffff;
  z-index: 3;
}

.china-agent__icon-wrap {
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border: 1px solid #fff;
  border-radius: 50%;
}

.china-agent__title {
  margin: 20px 0;
  font-size: 30px;
  font-family: 'Open Sans Regular';
}

.china-agent__description {
  font-size: 19px;
  font-family: 'Open Sans Light';
  text-align: center;
  width: 100%;
}

@media (max-width: 780px) {
  .china-agent__description {
    font-size: 13px;
  }
}

@media (max-width: 590px) {
  .china-agent__title {
    font-size: 25px;
  }
}

.advantages-list {
  height: 630px;
  background-color: #f3f3f3;
  display: flex;
  align-items: center;
}

.advantages-list__inner {
  width: 100%;
  height: 100% !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.advantages-list__headers-container {
  display: flex;
  justify-content: center;
  height: 90px;
}

.advantages-list__headers-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 60px;
  text-align: center;
}

.advantages-list__header-primary {
  font-family: 'Open Sans Regular';
  font-size: 30px;
  color: #3a3a3a;
  height: 30px;
}

.advantages-list__header-secondary {
  font-family: 'Open Sans Light';
  font-size: 19px;
  color: #3f3f3f;
  height: 19px;
}

.advantages-list__main-container {
  display: flex;
  justify-content: center;
  height: 450px;
  width: 100%;
}

.advantages-list__numeration {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 30px;
}

.advantages-list__num-svg {
  height: 420px;
}

.advantages-list__left-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 555px;
  height: 100%;
}

.advantages-list__right-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 555px;
  height: 100%;
}

.advantages-list__row {
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
}

.advantages-list__row-title {
  font-family: 'Open Sans Bold';
  font-size: 14px;
  color: #e93b3e;
}

.advantages-list__row-title-left {
  text-align: right;
}

.advantages-list__row-title-wrap {
  display: flex;
  align-items: baseline;
  height: 30px;
  width: 100%;
}

.advantages-list__row-title-wrap-left {
  justify-content: flex-end;
}

.advantages-list__row-description {
  width: 445px;
  font-family: 'Open Sans Light';
  font-size: 13px;
  margin: 0;
}

.advantages-list__row-description-wrap {
  display: flex;
  height: 30px;
}

.advantages-list__row-description-wrap-left {
  justify-content: flex-end;
  text-align: right;
}

.advantages-list__text-container {
  width: 100%;
  height: 100%;
}

.advantages-list__logo {
  height: 60px;
  width: 60px;
}

.advantages-list__logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100%;
}

@media (max-width: 1173px) {
  .advantages-list__right-list {
    width: 480px;
  }
  .advantages-list__left-list {
    width: 480px;
  }
  .advantages-list__text-container {
    width: 380px;
  }
  .advantages-list__row-title-wrap {
    height: 20px;
  }
}

@media (max-width: 1020px) {
  .advantages-list__right-list {
    width: 360px;
  }
  .advantages-list__left-list {
    width: 360px;
  }
  .advantages-list__text-container {
    width: 300px;
  }
  .advantages-list__logo {
    width: 50px;
    height: 50px;
  }
  .advantages-list__row {
    height: 50px;
  }
  .advantages-list__row-title {
    font-size: 12px;
  }
  .advantages-list__row-description {
    font-size: 11px;
  }
}

@media (max-width: 780px) {
  .advantages-list__right-list {
    width: 265px;
  }
  .advantages-list__left-list {
    width: 265px;
  }
  .advantages-list__text-container {
    width: 205px;
  }
  .advantages-list__row {
    height: 55px;
  }
  .advantages-list__row-title {
    font-size: 10px;
  }
  .advantages-list__row-title-wrap {
    height: 25px;
  }
  .advantages-list__row-description {
    font-size: 10px;
  }
  .advantages-list__logo {
    height: 45px;
    width: 45px;
  }
}

@media (max-width: 590px) {
  .advantages-list {
    height: 600px;
  }
  .advantages-list__right-list {
    width: 215px;
  }
  .advantages-list__left-list {
    width: 215px;
  }
  .advantages-list__text-container {
    width: 155px;
  }
  .advantages-list__header-primary {
    font-size: 25px;
  }
  .advantages-list__header-secondary {
    font-size: 15px;
  }
}

@media (max-width: 490px) {
  .advantages-list__right-list {
    width: 165px;
  }
  .advantages-list__left-list {
    width: 165px;
  }
  .advantages-list__logo {
    display: none;
  }
  .advantages-list__logo-container {
    display: none;
  }
  .advantages-list__text-container {
    width: 160px;
  }
  .advantages-list__numeration {
    margin: 0 5px;
  }
}

@media (max-width: 390px) {
  .advantages-list__right-list {
    width: 135px;
  }
  .advantages-list__left-list {
    width: 135px;
  }
  .advantages-list__text-container {
    width: 130px;
  }
}

.reviews {
  display: flex;
  align-items: center;
  height: 555px;
  width: 100%;
  overflow-x: hidden;
}

.reviews__inner {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 455px;
}

.reviews__title {
  font-family: 'Open Sans Regular';
  font-size: 30px;
  text-align: center;
}

.reviews__title-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 35px;
}

.reviews__slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 420px;
  width: 100%;
}

.reviews__slider-top-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 225px;
  height: 155px;
}

.reviews__slider-bottom-container {
  height: 270px;
  width: 100%;
}

.reviews__slider-img {
  border-radius: 50%;
  width: 115px;
}

.reviews__slider-img-container {
  width: 115px;
}

.reviews__slider-arrow {
  width: 15px;
  height: 47px;
}

.reviews__slider-arrow-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 60px;
  cursor: pointer;
  transition: .3s;
  border-radius: 5px;
}

.reviews__slider-arrow-container:hover {
  background: #ebe8e89c;
  transition: .3s;
}

.reviews__slider-arrow-container:active {
  background: #c4c3c39c;
  transition: .3s;
}

.reviews__client-container {
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
  width: 100%;
  height: 263px !important;
  text-align: center !important;
}

.reviews__client-review {
  margin: 0;
  height: auto;
}

.reviews__client-name {
  font-family: 'Open Sans Bold';
  font-size: 16px;
}

.reviews__client-link {
  font-family: 'Open Sans Regular';
  font-size: 15px;
  color: #e93b3e;
  text-decoration: none;
}

.reviews__client-review {
  font-family: 'Open Sans Light';
  font-size: 14px;
  text-align: justify;
  line-height: 1.5;
}

@media (max-width: 1173px) {
  .reviews__client-name {
    font-size: 15px;
  }
  .reviews__client-link {
    font-size: 14px;
  }
  .reviews__client-review {
    font-size: 13px;
  }
}

@media (max-width: 1020px) {
  .reviews__client-name {
    font-size: 13px;
  }
  .reviews__client-link {
    font-size: 12px;
  }
  .reviews__client-review {
    font-size: 11px;
  }
}

@media (max-width: 780px) {
  .reviews__client-name {
    font-size: 12px;
  }
  .reviews__client-link {
    font-size: 11px;
  }
  .reviews__client-review {
    font-size: 10px;
  }
}

@media (max-width: 590px) {
  .reviews {
    height: 580px;
  }
  .reviews__inner {
    justify-content: space-around;
    height: 535px;
  }
  .reviews__client-review {
    line-height: 1.3;
  }
  .reviews__title {
    font-size: 25px;
  }
}

@media (max-width: 590px) {
  .reviews {
    height: 650px;
  }
  .reviews__inner {
    height: 605px;
  }
  .reviews__title-container {
    height: 80px;
  }
  .reviews__slider {
    height: 500px;
  }
  .reviews__slider-bottom-container {
    display: flex;
    height: 300px;
  }
  .reviews__slider-top-container {
    margin-bottom: 20px;
  }
  .reviews__client-name {
    margin-bottom: 5px;
  }
  .reviews__client-link {
    margin-bottom: 5px;
  }
  .reviews__client-review {
    margin-bottom: 5px;
  }
}

@media (max-width: 390px) {
  .reviews {
    height: 690px;
  }
  .reviews__inner {
    height: 635px;
  }
  .reviews__slider {
    height: 600px;
  }
  .reviews__slider-bottom-container {
    height: 410px;
  }
}

.managers-ad {
  display: block;
  position: relative;
  height: 345px;
  background: url("../img/manager-ad_bg.jpeg");
  background-position: 26% 4%;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}

.managers-ad::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(1, 2, 46, 0.5);
  z-index: 2;
}

.managers-ad__inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 3;
}

.managers-ad__logo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid #fff;
  z-index: 3;
}

.managers-ad__title {
  font-family: 'Open Sans Regular';
  margin: 20px 0;
  font-size: 30px;
  text-align: center;
  color: #fff;
}

.managers-ad__description {
  margin: 0;
  font-family: 'Open Sans Light';
  font-size: 19px;
  color: #ffffff;
  text-align: center;
}

.managers-ad__content-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 330px;
  width: inherit;
  color: #ffff;
  z-index: 3;
}

@media (max-width: 780px) {
  .managers-ad__description {
    font-size: 15px;
  }
}

@media (max-width: 780px) {
  .managers-ad__description {
    font-size: 13px;
  }
}

@media (max-width: 590px) {
  .managers-ad__title {
    font-size: 25px;
  }
}

.delivery-types {
  display: flex;
  justify-content: center;
  height: 390px;
  width: 100%;
}

.delivery-types__inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

.delivery-types__title {
  font-family: 'Open Sans Regular';
  color: #3A3A3A;
  font-size: 30px;
  text-align: center;
}

.delivery-types__title-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 80px;
  width: 100%;
}

.delivery-types__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 265px;
  height: 260px;
  border: 1px solid #c4c7ca;
}

.delivery-types__block-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 310px;
  padding-bottom: 20px;
}

.delivery-types__block-title {
  font-family: 'Open Sans Bold';
  color: #ffffff;
  font-size: 16px;
  text-align: cener;
  text-transform: uppercase;
}

.delivery-types__block-title-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  background: #25333c;
}

.delivery-types__block-logo {
  width: 100%;
  height: 100%;
}

.delivery-types__block-logo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
}

.delivery-types__block-text {
  font-family: 'Open Sans Semibold';
  color: #3a3a3a;
  font-size: 24px;
  text-align: center;
}

.delivery-types__block-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 100%;
}

.delivery-types__block-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 45px;
  background: #ffffff;
  border: 1px solid #e93b3b;
  border-radius: 3px;
  font-family: 'Open Sans Semibold';
  color: #e93b3b;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: .2s;
}

.delivery-types__block-button:hover {
  background: #e93b3b;
  color: #ffffff;
  cursor: pointer;
  border: 1px solid #ffff;
  transition: .2s;
}

.delivery-types__block-button:active {
  background: #ca0000d5;
  transition: .3s;
}

.delivery-types__block-button-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 70px;
}

@media (max-width: 1173px) {
  .delivery-types {
    height: 650px;
  }
  .delivery-types__block {
    flex-basis: 34%;
    border: none;
  }
  .delivery-types__block-container {
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-around;
    height: 670px;
  }
  .delivery-types__block-title {
    color: #25333c;
    text-align: center;
    font-size: 14px;
  }
  .delivery-types__block-title-wrap {
    background: #ffff;
  }
  .delivery-types__title-container {
    align-items: center;
  }
}

@media (max-width: 780px) {
  .delivery-types__block {
    width: 250px;
  }
}

@media (max-width: 590px) {
  .delivery-types__block {
    flex-basis: 40%;
    border: none;
  }
  .delivery-types__block-container {
    justify-content: space-around;
    align-content: center;
  }
  .delivery-types__block-title {
    color: #25333c;
    text-align: center;
  }
  .delivery-types__block-title-wrap {
    background: #ffff;
  }
}

@media (max-width: 490px) {
  .delivery-types__title {
    font-size: 25px;
  }
  .delivery-types__block {
    width: 130px;
    justify-content: space-evenly;
  }
  .delivery-types__block-text {
    font-size: 20px;
  }
  .delivery-types__block-button {
    font-size: 11px;
  }
  .delivery-types__block-title {
    font-size: 13px;
  }
}

.order-check {
  display: flex;
  justify-content: center;
  height: 355px;
  width: 100%;
}

.order-check__inner {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: inherit;
}

.order-check__title {
  font-family: 'Open Sans Regular';
  font-size: 30px;
  text-align: center;
  color: #25333c;
}

.order-check__title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
}

.order-check__form {
  display: flex;
  width: 555px;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  height: 125px;
  margin: 15px auto;
}

.order-check__form-container {
  width: 100%;
  height: 250px;
}

.order-check__form-border {
  width: 100%;
  height: 215px;
  border: 1px solid #e93b3e;
  padding: 0;
  margin: auto;
}

.order-check__form-input {
  width: 265px;
  height: 50px;
  padding: 20px 150px 20px 25px;
  border: 1px solid #c8cbcf;
  border-radius: 3px;
  margin: 0 5px;
  font-family: 'Open Sans Light';
  font-size: 13px;
  color: #25333c;
}

.order-check__form-button {
  width: 175px;
  background: #e93b3e;
  font-family: 'Open Sans Semibold';
  font-size: 14px;
  color: #ffff;
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
  transition: .3s;
  cursor: pointer;
}

.order-check__form-button:active {
  background: #af171a;
  transition: .3s;
}

.order-check__form-button-wrap {
  display: flex;
  justify-content: center;
  height: 55px;
  width: 205px;
  background: #ffff;
}

.order-check__logo-container {
  margin: auto;
  width: 120px;
  height: 100px;
}

.order-check__logo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e93b3e;
  border-radius: 50%;
  margin: auto;
}

@media (max-width: 780px) {
  .order-check__form {
    width: 100%;
  }
}

@media (max-width: 590px) {
  .order-check {
    height: 455px;
  }
  .order-check__form {
    height: 225px;
    width: 85%;
  }
  .order-check__form-border {
    height: 315px;
  }
  .order-check__form-container {
    height: 450px;
  }
}

@media (max-width: 490px) {
  .order-check__title {
    font-size: 25px;
    margin-bottom: 10px;
  }
}

.managers {
  height: 720px;
  width: 100%;
  background-color: #F3F3F3;
}

.managers__inner {
  width: 100%;
  margin: auto;
}

.managers__title {
  font-family: 'Open Sans Regular';
  color: #3A3A3A;
  font-size: 30px;
}

.managers__title-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 75px;
  text-align: center;
}

.managers__block {
  display: flex;
  justify-content: center;
  position: relative;
  width: 360px;
  height: 260px;
  margin: 30px auto 0 auto;
}

.managers__block-container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 100%;
  height: 605px;
}

.managers__block-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.managers__block-image-wrap {
  display: flex;
  position: absolute;
  height: 145px;
  width: 145px;
  top: 0;
  z-index: 10;
}

.managers__block-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 125px;
  background: #ffff;
}

.managers__block-text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 58px;
  width: 282px;
}

.managers__block-title {
  font-family: 'Open Sans Bold';
  font-size: 16px;
  color: #E93B3B;
}

.managers__block-title-wrap {
  display: flex;
  justify-content: center;
  width: 100%;
}

.managers__block-description {
  font-family: 'Open Sans Light';
  font-size: 13px;
  color: #3A3A3A;
  line-height: 1.4;
}

.managers__block-description-wrap {
  display: flex;
  justify-content: center;
  text-align: center;
}

@media (min-width: 1173px) {
  .managers__block:nth-child(1) {
    margin-left: 0;
  }
  .managers__block:nth-child(3) {
    margin-right: 0;
  }
}

@media (max-width: 1173px) {
  .managers__title-container {
    align-items: center;
  }
}

@media (max-width: 1020px) {
  .managers__block {
    width: 280px;
  }
  .managers__block-title {
    font-size: 14px;
  }
  .managers__block-description {
    font-size: 11px;
    width: 220px;
  }
}

@media (max-width: 780px) {
  .managers {
    height: 620px;
  }
  .managers__block {
    height: 205px;
    width: 260px;
  }
  .managers__block-container {
    height: 540px;
  }
  .managers__block-text-container {
    width: 240px;
  }
  .managers__block-bottom {
    height: 100px;
  }
  .managers__block-title {
    font-size: 14px;
  }
  .managers__block-description {
    font-size: 10px;
  }
  .managers__block-description-wrap {
    width: 200px;
  }
  .managers__block-image-wrap {
    width: 115px;
    height: 115px;
  }
}

@media (max-width: 590px) {
  .managers__block {
    width: 220px;
  }
  .managers__block-text-container {
    width: 200px;
  }
  .managers__block-description {
    font-size: 10px;
  }
  .managers__block-description-wrap {
    width: 170px;
  }
  .managers__title {
    font-size: 25px;
  }
}

@media (max-width: 490px) {
  .managers__block {
    width: 170px;
  }
  .managers__block-title {
    font-size: 13px;
  }
  .managers__block-title-wrap {
    width: 140px;
  }
  .managers__block-description-wrap {
    width: 130px;
  }
}

@media (max-width: 390px) {
  .managers__block {
    width: 140px;
  }
  .managers__block-text-container {
    width: 140px;
  }
}

.personal-manager-ad {
  display: block;
  position: relative;
  width: 100%;
  height: 345px;
  background: url("../img/personal-manager-ad.jpeg");
  background-size: cover;
  background-position: right 15%;
  background-repeat: no-repeat;
}

.personal-manager-ad::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(1, 2, 46, 0.5);
  z-index: 2;
}

.personal-manager-ad__inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 3;
}

.personal-manager-ad__logo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid #fff;
  z-index: 3;
}

.personal-manager-ad__text-container {
  display: flex;
  flex-direction: column;
  height: 120px;
  width: 100%;
  z-index: 3;
}

.personal-manager-ad__title {
  font-family: 'Open Sans Regular';
  margin: 20px 0;
  font-size: 30px;
  text-align: center;
  color: #fff;
}

.personal-manager-ad__description {
  height: 45px;
  margin: 0;
  font-family: 'Open Sans Light';
  font-size: 19px;
  color: #ffffff;
  text-align: center;
}

.personal-manager-ad__content-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 330px;
  width: inherit;
  color: #ffff;
  z-index: 3;
}

@media (max-width: 780px) {
  .personal-manager-ad__description {
    font-size: 15px;
  }
  .personal-manager-ad__text-container {
    height: 200px;
  }
}

@media (max-width: 780px) {
  .personal-manager-ad__description {
    font-size: 13px;
  }
}

@media (max-width: 590px) {
  .personal-manager-ad__title {
    font-size: 25px;
  }
}

@media (max-width: 390px) {
  .personal-manager-ad__title {
    font-size: 20px;
  }
  .personal-manager-ad__title-wrap {
    height: 80px;
  }
  .personal-manager-ad__description-wrap {
    height: 70px;
  }
}

.licenses {
  height: 1020px;
  width: 100%;
  background: #f3f3f3;
}

.licenses__inner {
  height: 100%;
  width: 100%;
  margin: auto;
}

.licenses__title {
  font-family: 'Open Sans Regular';
  font-size: 30px;
  color: #3A3A3A;
}

.licenses__title-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100px;
  width: 100%;
}

.licenses__title-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  width: 100%;
}

.licenses__block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 360px;
  height: 260px;
  padding: 5px;
}

.licenses__block-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 100%;
  height: 850px;
}

.licenses__block-inner {
  width: 100%;
  height: 100%;
}

.licenses__block-img {
  width: 100%;
  height: 100%;
}

@media (max-width: 1173px) {
  .licenses {
    height: 850px;
  }
  .licenses__block {
    width: 300px;
    height: 217px;
  }
  .licenses__block-container {
    height: 700px;
  }
}

@media (max-width: 1020px) {
  .licenses {
    height: 700px;
  }
  .licenses__title-container {
    align-items: center;
  }
  .licenses__block {
    width: 256px;
    height: 185px;
  }
  .licenses__block-container {
    height: 550px;
  }
}

@media (max-width: 790px) {
  .licenses {
    height: 1050px;
  }
  .licenses__block-container {
    justify-content: center;
    align-content: none;
  }
}

@media (max-width: 590px) {
  .licenses {
    height: 830px;
  }
  .licenses__title {
    font-size: 25px;
  }
  .licenses__title-container {
    height: 75px;
  }
  .licenses__block {
    width: 200px;
    height: 145px;
  }
}

@media (max-width: 490px) {
  .licenses {
    height: 650px;
  }
  .licenses__block {
    width: 155px;
    height: 110px;
  }
}

@media (max-width: 390px) {
  .licenses {
    height: 620px;
  }
  .licenses__block {
    width: 140px;
    height: 100px;
  }
  .licenses__block-container {
    height: 520px;
  }
}

.china-location-ad {
  display: block;
  position: relative;
  height: 345px;
  background-image: url("../img/china-location-ad-bg.jpeg");
  background-position: right 53%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.china-location-ad::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(4, 4, 20, 0.589);
  z-index: 2;
}

.china-location-ad__inner {
  display: flex;
  align-items: flex-start;
  z-index: 3;
}

.china-location-ad__content-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 330px;
  width: 100%;
  color: #ffff;
  z-index: 3;
}

.china-location-ad__logo-wrap {
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border: 1px solid #fff;
  border-radius: 50%;
}

.china-location-ad__title {
  margin: 20px 0;
  font-size: 30px;
  font-family: 'Open Sans Regular';
}

.china-location-ad__description {
  margin: 0;
  font-size: 19px;
  font-family: 'Open Sans Light';
  text-align: center;
  width: 100%;
  line-height: 1.5;
}

@media (max-width: 780px) {
  .china-location-ad__description {
    font-size: 13px;
  }
}

@media (max-width: 590px) {
  .china-location-ad__title {
    font-size: 25px;
  }
}

.service {
  height: 585px;
  width: 100%;
  background: #ffff;
}

.service__inner {
  height: 100%;
  width: 100%;
  margin: auto;
}

.service__title {
  font-family: 'Open Sans Regular';
  font-size: 30px;
  text-align: center;
  color: #3a3a3a;
}

.service__title-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 75px;
  margin-bottom: 25px;
}

.service__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  width: 265px;
}

.service__block-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 100%;
  height: 270px;
}

.service__block-img {
  width: 50px;
  height: 50px;
}

.service__block-title {
  font-family: 'Open Sans Bold';
  font-size: 14px;
  text-align: center;
  color: #E93B3B;
}

.service__block-description {
  font-family: 'Open Sans Light';
  font-size: 13px;
  color: #3a3a3a;
  text-align: center;
}

.service__comment {
  font-family: 'Open Sans Bold';
  font-size: 16px;
  text-align: center;
  margin: 0;
}

.service__comment-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 130px;
  border: 1px solid #3a3a3a;
  margin-top: 40px;
  padding: 0 58px;
}

@media (max-width: 1173px) {
  .service__block {
    width: 230px;
  }
  .service__comment {
    font-size: 14px;
  }
  .service__comment-container {
    height: 110px;
    margin: 60px 0;
  }
}

@media (max-width: 1020px) {
  .service__block {
    height: 100px;
    width: 180px;
  }
  .service__block-title {
    font-size: 12px;
    margin-bottom: 5px;
  }
  .service__block-description {
    font-size: 11px;
  }
  .service__comment {
    font-size: 12px;
  }
  .service__comment-container {
    padding: 0 10px;
    height: 100px;
  }
}

@media (max-width: 780px) {
  .service__block {
    width: 160px;
  }
  .service__block-title {
    font-size: 10px;
  }
  .service__block-description {
    font-size: 10px;
  }
}

@media (max-width: 690px) {
  .service {
    height: 700px;
  }
  .service__title {
    margin-bottom: 0;
  }
  .service__title-container {
    align-items: center;
  }
  .service__block {
    margin: 0 30px;
  }
  .service__block-container {
    justify-content: center;
    height: 500px;
  }
}

@media (max-width: 590px) {
  .service__block {
    width: 155px;
  }
  .service__title {
    font-size: 25px;
  }
}

@media (max-width: 490px) {
  .service__block {
    margin: 0 10px;
  }
}

@media (max-width: 390px) {
  .service__block {
    width: 140px;
    margin: 0;
  }
  .service__block-container {
    justify-content: space-between;
  }
}

.additional-service {
  height: 240px;
  width: 100%;
  background: #f3f3f3;
}

.additional-service__inner {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
}

.additional-service__title {
  font-family: 'Open Sans Regular';
  font-size: 30px;
  color: #3a3a3a;
  text-align: center;
}

.additional-service__title-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 80px;
  width: 100%;
  margin-bottom: 15px;
}

.additional-service__block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  height: 100%;
}

.additional-service__block-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 100px;
  width: 100%;
}

.additional-service__block-logo {
  width: 50px;
  height: 50px;
}

.additional-service__block-title {
  font-family: 'Open Sans Bold';
  font-size: 16px;
  color: #3A3A3A;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */