* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  height: 100%;
  max-width: 1140px;
  margin: auto;
}

textarea {
  resize: none;
}

@media (max-width: 1173px) {
  .container {
    max-width: 990px;
  }
}

@media (max-width: 1020px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 780px) {
  .container {
    max-width: 560px;
  }
}

@media (max-width: 590px) {
  .container {
    max-width: 460px;
  }
}

@media (max-width: 490px) {
  .container {
    max-width: 360px;
  }
}

@media (max-width: 390px) {
  .container {
    max-width: 300px;
  }
}

@font-face {
  font-family: 'Open Sans Light';
  src: url("../fonts/OpenSans-Light.eot");
  src: url("../fonts/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Regular';
  src: url("../fonts/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Semibold';
  src: url("../fonts/OpenSans-SemiBold.eot");
  src: url("../fonts/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Bold';
  src: url("../fonts/OpenSans-Bold.eot");
  src: url("../fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed Bold';
  src: url("../fonts/RobotoCondensed-Bold.eot");
  src: url("../fonts/RobotoCondensed-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensed-Bold.woff") format("woff"), url("../fonts/RobotoCondensed-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed Regular';
  src: url("../fonts/RobotoCondensed-Regular.eot");
  src: url("../fonts/RobotoCondensed-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensed-Regular.woff") format("woff"), url("../fonts/RobotoCondensed-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.arrow {
  height: 10px;
  width: 10px;
  margin-left: 7px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.label {
  display: block;
  font-family: 'Open Sans Bold';
  font-size: 16px;
  color: #3A3A3A;
  height: 15px;
}

.label_primary {
  font-family: 'Roboto Condensed Regular';
  font-size: 14px;
  color: #3a3a3a;
}

.button {
  padding: 17px 33px;
  font-family: 'Open Sans Semibold';
  text-transform: uppercase;
  font-size: 14px;
  color: #ffffff;
  margin-top: 15px;
  background: #e93b3b;
  border: none;
  border-radius: 5px;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.dimensions {
  font-family: 'Open Sans Light';
  color: #616467;
  font-size: 13px;
  margin: 0 10px;
  width: 70px;
  height: 50px;
  text-align: center;
  border: 1px solid #c8cbcf;
}

.dimensions:focus {
  outline: none;
  -webkit-box-shadow: 0px 0px 4px 0px #c8cbcf;
          box-shadow: 0px 0px 4px 0px #c8cbcf;
}

.dimensions_primary {
  width: 95px;
  height: 50px;
  margin: 0 10px;
  border: 1px solid #c8cbcf;
  text-align: center;
}

.dimensions_primary:focus {
  outline: none;
  -webkit-box-shadow: 0px 0px 4px 0px #c8cbcf;
          box-shadow: 0px 0px 4px 0px #c8cbcf;
}

@media (max-width: 1020px) {
  .dimensions {
    margin: 0 5px;
  }
  .dimensions_primary {
    margin: 0 5px;
    width: 90px;
  }
}

.header {
  background: #25333c;
  height: 45px;
}

.header__info {
  width: 1140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  width: 100%;
  font-size: 14px;
  font-family: 'Open Sans Light';
  color: #d3d6d8;
}

.header__mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 100px;
  font-family: 'Open Sans Bold';
}

.header__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__button {
  border: 1px solid;
  background: none;
  width: 105px;
  height: 30px;
  text-transform: uppercase;
  font-size: 14px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-family: 'Open Sans Light';
  color: #d3d6d8;
  margin-right: 30px;
}

.header__button:hover {
  -webkit-box-shadow: 0px 1px 10px -1px #25333c;
          box-shadow: 0px 1px 10px -1px #25333c;
  background: #d3d6d8;
  color: #25333c;
  cursor: pointer;
}

.header__button:active {
  background: #1a1f22;
  color: #d3d6d8;
  outline: none;
}

.header__button:focus {
  outline: none;
}

.header__china-delivery {
  display: block;
  position: relative;
  text-decoration: none;
  color: #d3d6d8;
  margin: auto 0;
  cursor: pointer;
}

.header__china-delivery::after {
  background-color: #d3d6d8;
  display: block;
  content: "";
  height: 1px;
  width: 0%;
  left: 50%;
  position: absolute;
  -webkit-transition: width .4s ease-in-out;
  transition: width .4s ease-in-out;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header__china-delivery:hover::after {
  width: 100%;
}

.header__china-delivery:focus::after {
  width: 100%;
}

.mobile-logo {
  height: 18px;
  width: 18px;
  margin-right: 7px;
}

.calculate-price-logo {
  height: 18px;
  width: 18px;
  margin-right: 7px;
}

.delivery-logo {
  height: 18px;
  width: 18px;
  margin-right: 7px;
}

.email-logo {
  height: 18px;
  width: 18px;
  margin-right: 7px;
}

@media (max-width: 1173px) {
  .header {
    height: 80px;
  }
  .header__button {
    height: 45px;
    width: 158px;
    font-size: 21px;
    margin-right: 300px;
  }
  .header__email {
    display: none;
  }
  .header__mobile {
    display: none;
  }
  .header__china-delivery a:nth-of-type(1) {
    font-size: 20px;
  }
  .header__china-delivery a:nth-of-type(2) {
    font-size: 20px;
  }
}

@media (max-width: 1020px) {
  .header__button {
    margin-right: 140px;
  }
  iframe {
    width: 750px;
    height: 375px;
  }
  .delivery-logo {
    display: none;
  }
  .calculate-price-logo {
    display: none;
  }
}

@media (max-width: 780px) {
  .calculate-price-logo {
    display: inline;
    height: 35px;
    width: 35px;
  }
  .calculate-price-logo__text {
    display: none;
  }
  .delivery-logo {
    display: inline;
    height: 35px;
    width: 35px;
  }
  .delivery-logo__text {
    display: none;
  }
  .header__button {
    margin-right: 140px;
  }
}

@media (max-width: 490px) {
  .header__button {
    margin-right: 80px;
  }
}

@media (max-width: 390px) {
  .header__button {
    margin-right: 40px;
  }
}

#logo-bold {
  font-family: 'Roboto Condensed Bold';
  color: #ffffff;
  font-size: 27px;
  text-transform: uppercase;
}

#logo-regular {
  font-family: 'Roboto Condensed Regular';
  color: #ffffff;
  font-size: 12px;
  text-transform: uppercase;
}

.hero {
  height: 740px;
  width: 100%;
  background-image: url("../img/hero-bg.jpg");
  background-repeat: no-repat;
  background-size: cover;
  background-position: 40%;
  overflow-x: cut;
}

.hero__nav-wrap {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.hero__logo {
  height: inherit;
  width: 490px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.hero__logo-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__navbar {
  width: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero__navbar-link {
  font-family: 'Open Sans Bold';
  text-transform: uppercase;
  color: #ffffff;
  font-size: 13px;
  text-decoration: none;
}

.hero__navbar-link:hover .arrow {
  margin-bottom: -5px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.hero__title-wrap {
  width: 100%;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__title {
  font-family: 'Open Sans Bold';
  font-size: 48px;
  text-transform: uppercase;
  color: #ffffff;
}

.hero__main {
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__form-wrap {
  height: 100%;
  width: 315px;
}

.hero__form-title {
  height: 70px;
  background: #25333c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__form-title span:nth-of-type(1) {
  font-family: 'Open Sans Bold';
  text-transform: uppercase;
  font-size: 19px;
  color: #ffffff;
  line-height: 15px;
}

.hero__form-title span:nth-of-type(2) {
  font-family: 'Open Sans Semibold';
  text-transform: uppercase;
  font-size: 14px;
  color: #ffffff;
}

.hero__input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 330px;
  background: rgba(213, 210, 212, 0.7);
}

.hero__input-group {
  padding-top: 15px;
  width: 280px;
  height: 225px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__form-input {
  font-family: 'Open Sans Light';
  font-size: 13px;
  padding: 13px 115px 13px 20px;
  border: 1px solid #a3a0a2;
}

.hero__form-input:focus {
  outline: none;
}

.hero__form-input:last-child {
  padding: 13px 114px 22px 20px;
  line-height: 15px;
  width: 273px;
}

.hero__form-button {
  font-family: 'Open Sans Semibold';
  text-transform: uppercase;
  font-size: 14px;
  color: #ffffff;
  margin-top: 15px;
  padding: 15px 30px;
  background: #e93b3b;
  border: none;
  border-radius: 5px;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.hero__form-button:hover {
  background: #ff6060;
  cursor: pointer;
}

.hero__form-button:active {
  background: #ffffff;
  color: #e93b3b;
}

.hero__form-button:focus {
  outline: none;
}

@media (max-width: 1173px) {
  .hero {
    height: 1140px;
  }
  .hero__main {
    height: 900px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .hero__form-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .hero__form-title span:first-of-type {
    width: 150px;
    font-family: 'Open Sans Semibold';
    font-size: 16px;
  }
  .hero__form-title span:last-of-type {
    font-size: 16px;
  }
  .hero__form-wrap {
    height: 400px;
    width: 500px;
  }
  .hero__input-group {
    width: 500px;
  }
  .hero__form-input {
    padding: 13px 220px 13px 20px;
  }
  .hero__form-input:last-child {
    padding: 13px 220px 22px 20px;
    line-height: 15px;
    width: 378px;
  }
  .hero__form-button {
    height: 75px;
    width: 250px;
    font-size: 16px;
  }
  .hero__logo {
    width: 330px;
  }
}

@media (max-width: 1020px) {
  .hero__title {
    text-align: center;
  }
  .hero__logo {
    display: none;
  }
  .hero__nav-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 780px) {
  iframe {
    width: 560px;
    height: 280px;
  }
}

@media (max-width: 590px) {
  iframe {
    width: 460px;
    height: 230px;
  }
  .hero__title {
    font-size: 40px;
  }
  .hero__form-wrap {
    width: 460px;
    height: 400px;
  }
  .hero__input-group {
    width: 460px;
  }
  .hero__navbar-link {
    font-size: 10px;
    display: block;
    position: relative;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  .hero__navbar-link::after {
    display: block;
    content: '';
    background-color: #ffffff;
    position: absolute;
    height: 1px;
    width: 0%;
    left: 50%;
    -webkit-transition: width .4s ease-in-out;
    transition: width .4s ease-in-out;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .hero__navbar-link:active {
    text-decoration: none;
  }
  .hero__navbar-link:hover::after {
    width: 100%;
  }
  .hero__navbar-link:focus::after {
    width: 100%;
  }
  .hero .arrow {
    display: none;
  }
}

@media (max-width: 590px) {
  .hero {
    height: 900px;
  }
  .hero__title {
    font-size: 25px;
  }
  .hero__title-wrap {
    height: 100px;
  }
  .hero__nav-wrap {
    height: 55px;
  }
  .hero__form-wrap {
    height: 400px;
    width: 315px;
  }
  .hero__main {
    height: 700px;
  }
  .hero__form-title {
    height: 70px;
    background: #25333c;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero__form-title span:nth-of-type(1) {
    font-family: 'Open Sans Bold';
    text-transform: uppercase;
    font-size: 15px;
    color: #ffffff;
    line-height: 20px;
  }
  .hero__form-title span:nth-of-type(2) {
    font-family: 'Open Sans Semibold';
    text-transform: uppercase;
    font-size: 12px;
    color: #ffffff;
  }
  .hero__input-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: 330px;
    background: rgba(213, 210, 212, 0.7);
  }
  .hero__input-group {
    padding-top: 15px;
    width: 280px;
    height: 225px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero__form-input {
    font-family: 'Open Sans Light';
    font-size: 13px;
    padding: 13px 115px 13px 20px;
    border: 1px solid #a3a0a2;
  }
  .hero__form-input:focus {
    outline: none;
  }
  .hero__form-input:last-child {
    padding: 13px 114px 22px 20px;
    line-height: 15px;
    width: 273px;
  }
  .hero__form-button {
    font-family: 'Open Sans Semibold';
    text-transform: uppercase;
    font-size: 14px;
    color: #ffffff;
    margin-top: 15px;
    padding: 15px 30px;
    background: #e93b3b;
    border: none;
    border-radius: 5px;
    -webkit-transition: ease-in-out 0.3s;
    transition: ease-in-out 0.3s;
  }
  .hero__form-button:hover {
    background: #ff6060;
    cursor: pointer;
  }
  .hero__form-button:active {
    background: #ffffff;
    color: #e93b3b;
  }
  .hero__form-button:focus {
    outline: none;
  }
}

@media (max-width: 490px) {
  iframe {
    width: 360px;
    height: 180px;
  }
}

@media (max-width: 390px) {
  iframe {
    width: 300px;
    height: 150px;
  }
  .hero__form-wrap {
    width: 300px;
  }
  .hero__input-group {
    width: 300px;
  }
  .hero__navbar-link {
    font-size: 7px;
  }
}

.main-title {
  font-family: 'Roboto Condensed Regular';
  color: #3A3A3A;
  font-size: 30px;
  text-align: center;
}

.advantages {
  height: 235px;
  background-color: #f3f3f3;
}

.advantages__inner {
  height: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantages__block {
  height: 150px;
  width: 265px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantages__title {
  font-family: 'Open Sans Bold';
  font-size: 14px;
  color: #e93b3e;
}

.advantages__description {
  font-family: 'Open Sans Light';
  font-size: 13px;
  margin: 0;
  text-align: center;
}

@media (max-width: 1173px) {
  .advantages {
    height: 380px;
  }
  .advantages__inner {
    height: inherit;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 600px;
  }
}

@media (max-width: 590px) {
  .advantages {
    height: 760px;
  }
}

.calculator {
  height: 515px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calculator__inner {
  height: 425px;
  width: 1140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calculator__logo-wrap {
  height: 100px;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #e93b3e;
  border-radius: 50px;
  margin: 0 10px;
}

.calculator__logo-position {
  text-align: center;
}

.calculator__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.calculator__form-border {
  height: 350px;
  border: 1px solid #e93b3e;
  padding: 0;
}

.calculator__form-select {
  display: inline;
  position: relative;
  cursor: pointer;
  height: 50px;
  width: 265px;
  border: 1px solid #C1C4C7;
  z-index: 1;
}

.calculator__form-select-wrap {
  width: 275px;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.calculator__form-select-option {
  padding: 10px 0 10px 18px;
  color: #616467;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.calculator__form-select-option:hover {
  background-color: #f0f3f7;
  cursor: pointer;
}

.calculator__form-select-checked {
  z-index: -1;
  padding: 15px 0 17px 18px;
  font-family: 'Open Sans Light';
  color: #616467;
  font-size: 13px;
}

.calculator__form-select-dropdown {
  position: absolute;
  list-style: none;
  width: inherit;
  top: 50px;
  padding: 0;
  margin: 0;
  left: -1px;
  background-color: #ffffff;
  border: 1px solid #c8cbcf;
  font-family: 'Open Sans Light';
  font-size: 13px;
  color: #3A3A3A;
  display: none;
}

.calculator__form-select-dropdown-open {
  display: block;
}

.calculator__form-select::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 100%;
  background-image: url("../img/caret.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F3F3F3;
  border-left: 1px solid #c8cbcf;
}

.calculator__form-product-dimensions-container {
  height: 80px;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
}

.calculator__form-product-dimensions-row {
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calculator__form-product-dimensions-row label:nth-of-type(1) {
  margin-left: 15px;
}

.calculator__form-product-dimensions-row label:nth-of-type(2) {
  margin-left: 15px;
}

.calculator__submit-btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 183px;
  background-color: #ffff;
  bottom: 0px;
  margin: auto;
}

#delivery-calculator {
  width: inherit;
  height: 210px;
  position: relative;
}

#delivery-type {
  width: 275px;
  font-family: 'Open Sans Light';
  font-size: 13px;
  border: 1px solid #c8cbcf;
  padding: 17px 113px 17px 17px;
}

#delivery-type:focus {
  outline: #c8cbcf;
  -webkit-box-shadow: 0px 0px 4px 0px #c8cbcf;
          box-shadow: 0px 0px 4px 0px #c8cbcf;
}

@media (max-width: 1173px) {
  .calculator {
    height: 650px;
  }
  .calculator__inner {
    height: 550px;
  }
  .calculator__logo-wrap {
    margin-bottom: 20px;
  }
  .calculator__form {
    -ms-flex-line-pack: justify;
        align-content: space-between;
  }
  .calculator__form-product-dimensions-container {
    margin: 0;
  }
  .calculator__form-border {
    height: 460px;
  }
  .calculator__form-select-wrap:nth-child(4) {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .calculator__submit-btn-wrap {
    bottom: -5px;
  }
  #delivery-calculator {
    height: 295px;
  }
}

@media (max-width: 780px) {
  .calculator__inner {
    height: 600px;
  }
  .calculator__form-border {
    height: 525px;
  }
  .calculator__form-product-dimensions-row {
    width: inherit;
    height: 120px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: justify;
        align-content: space-between;
  }
  .calculator__form-product-dimensions-container {
    height: 150px;
    width: 430px;
  }
  #delivery-calculator {
    height: 355px;
  }
}

@media (max-width: 590px) {
  .calculator {
    height: 900px;
  }
  .calculator__inner {
    height: 850px;
  }
  .calculator__form-border {
    height: 770px;
  }
  #delivery-calculator {
    height: 600px;
  }
}

@media (max-width: 490px) {
  .calculator__form-product-dimensions-row {
    height: 170px;
    width: inherit;
  }
  .calculator__form-product-dimensions-container {
    height: 200px;
    width: 360px;
  }
}

@media (max-width: 490px) {
  .calculator__form-product-dimensions-row div {
    width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .calculator__form-product-dimensions-container {
    width: 300px;
  }
}
/*# sourceMappingURL=style.css.map */