@font-face {
  font-family: 'Open Sans Light';
  src: url('../fonts/OpenSans-Light.eot');
  src: url('../fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/OpenSans-Light.woff') format('woff'),
  url('../fonts/OpenSans-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Regular';
  src: url('../fonts/OpenSans-Regular.eot');
  src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/OpenSans-Regular.woff') format('woff'),
  url('../fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Semibold';
  src: url('../fonts/OpenSans-SemiBold.eot');
  src: url('../fonts/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/OpenSans-SemiBold.woff') format('woff'),
  url('../fonts/OpenSans-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Bold';
  src: url('../fonts/OpenSans-Bold.eot');
  src: url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/OpenSans-Bold.woff') format('woff'),
  url('../fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed Bold';
  src: url('../fonts/RobotoCondensed-Bold.eot');
  src: url('../fonts/RobotoCondensed-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/RobotoCondensed-Bold.woff') format('woff'),
  url('../fonts/RobotoCondensed-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed Regular';
  src: url('../fonts/RobotoCondensed-Regular.eot');
  src: url('../fonts/RobotoCondensed-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/RobotoCondensed-Regular.woff') format('woff'),
  url('../fonts/RobotoCondensed-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@mixin uppercase {
  text-transform: uppercase;
}

@mixin light {
  font-family: 'Open Sans Light';
}

@mixin regular {
  font-family: 'Open Sans Regular';
}

@mixin semibold {
  font-family: 'Open Sans Semibold';
}

@mixin bold {
  font-family: 'Open Sans Bold';
}

@mixin bold-secondary {
  font-family: 'Roboto Condensed Bold';
}

@mixin regular-secondary {
  font-family: 'Roboto Condensed Regular';
}


 


