.icon {
  height: 35px;
  width: 35px;
  margin-right: 10px;
}
.icon-next{
  height: 35px;
  width: 35px;
  margin-left: 10px;
}

.icon-medium {
  height: 50px;
  width: 50px;
}

.icon_big {
  height: 100px;
  width: 100px;
}

.arrow {
  height: 10px;
  width: 10px;
  margin-left: 7px;
  transition: 0.2s ease-in-out;
}

.arrow_active {
  margin-bottom: -5px;
  transition: 0.3s ease-in-out;
}

@mixin icon {
  height: 18px;
  width: 18px;
  margin-right: 7px;
}

@mixin icon-adaptive {
  height: 35px;
  width: 35px;
}

@mixin icon-adaptive-mobile {
  height: 25px;
  width: 25px;
}





