.label
  display: block
  +bold
  font-size: 16px
  color: #3A3A3A
  height: 15px
  &_primary
    +regular
    font-size: 14px
    color: #3a3a3a

.input
  +light
  font-size: 13px
  padding: 13px 115px 13px 20px
  border: 1px solid #a3a0a2
.button
  padding: 17px 33px
  +semibold
  +uppercase
  font-size: 14px
  color: #ffffff
  margin-top: 15px
  background: #e93b3b
  border: none
  border-radius: 5px
  transition: ease-in-out 0.3s  
  &:hover
      background: #ff6060
      cursor: pointer
  &:active
    background: #ffffff 
    color: #e93b3b
  &:focus
    outline: none
  &_primary
    width: 300px
    height: 60px
    +light
    color: #ffff
    background-color: transparent
    border: 1px solid #ffffff
    border-radius: 10px
    font-size: 20px
    transition: ease-in-out .3s
    &:hover
      background-color: #ffffff
      color: #000000fd
      cursor: pointer
    &:active
      background-color: #000000fd
      color: #ffff
    &:focus
      outline: none

.dimensions
  +light
  color: #616467
  font-size: 13px
  margin: 0 10px
  width: 70px
  height: 50px
  text-align: center
  border: 1px solid #c8cbcf
  &:focus
    outline: none
    box-shadow: 0px 0px 4px 0px #c8cbcf
  &_primary
    +light
    font-size: 13px
    color: #616467
    width: 95px
    height: 50px
    margin: 0 10px
    border: 1px solid #c8cbcf
    text-align: center
    &:focus
      outline: none
      box-shadow: 0px 0px 4px 0px #c8cbcf
  

.decoration-line
  width: 2px
  height: 82px
  background-color: $grey
  z-index: 1

@media ( max-width: 1020px )
  .dimensions
    margin: 0 5px
    &_primary
      margin: 0 5px
      width: 90px



  
    
