.hero
  height: 740px
  width: 100%
  background-image: url('../img/hero-bg.jpg')
  overflow-x: cut
  //-------logo----------------
  &__logo
    height: inherit
    width: 490px
    display: flex
    flex-direction: row
    align-items: center
    justify-content: flex-start
  &__logo-text
    display: flex
    flex-direction: column
    align-items: flex-start
    justify-content: center
  //---------navbar--------------
  &__nav-wrap
    width: 100%
    height: 80px
    display: flex
    flex-direction: row
    position: relative
  &__navbar
    width: 650px
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
  &__navbar-link
    +bold
    +uppercase
    color: #ffffff
    font-size: 13px
    text-decoration: none
  &__navbar-link:hover 
    .arrow
      margin-bottom: -5px
      transition: 0.3s ease-in-out
      cursor: pointer
    //----------title------------------
  &__title-wrap
    width: 100%
    height: 150px
    display: flex
    justify-content: center
    align-items: center
    border-top: 1px solid rgba(255,255,255, 0.4)
  &__title
    +bold
    font-size: 48px
    +uppercase
    color: #ffffff
    //---------form---------------------------
  &__main
    height: 400px
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
  &__form-wrap
    height: 100%
    width: 315px
  &__form-title
    height: 70px
    background: $dark-blue
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
  &__form-title span:nth-of-type(1)
    +bold
    +uppercase
    font-size: 19px
    color: #ffffff
    line-height: 15px
  &__form-title span:nth-of-type(2)
    +semibold
    +uppercase
    font-size: 14px
    color: #ffffff
    //--inputs--
  &__input-container 
    display: flex
    flex-direction: column
    align-items: center
    justify-content: flex-start
    height: 330px
    background: rgba(213,210,212,0.7)
  &__input-group
    padding-top: 15px
    width: 280px
    height: 225px
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
  &__form-input:nth-child(4)
    padding: 13px 114px 22px 20px
    line-height: 15px
    width: 273px
    //--^ inputs ^--
    //--button--
  &__form-button
    +semibold
    +uppercase
    font-size: 14px
    color: #ffffff
    margin-top: 15px
    padding: 15px 30px
    background: #e93b3b
    border: none
    border-radius: 5px
    transition: ease-in-out 0.3s
  &__form-button:hover
    background: #ff6060
    cursor: pointer
  &__form-button:active
    background: #ffffff 
    color: #e93b3b
  &__form-button:focus
    outline: none
    //--^ button ^--
    
//logo-text
#logo
  &-bold
    +bold-secondary
    color: #ffffff
    font-size: 27px
    +uppercase
  &-regular
    +regular-secondary
    color: #ffffff
    font-size: 12px
    +uppercase

@media ( min-width: 1174px )
  .hero
    perspective: 1000px
    &__inner
      width: 100%
      height: 100%
      transform-origin: right center
      transition: 0.4s
      //^ preset-for-rotate-animation ^
  .sidebar
    z-index: 10
    display: flex
    flex-direction: column
    justify-content: space-evenly
    align-items: center
    position: absolute
    left: 0
    top: 0
    width: 440px
    height: 740px
    background: rgba(37,51,60,0.4)
    transition: 0.2s
    transform: translateX(-100%)
    &:target
      transform: translateX(0)
      //^ rotate animation ^
    &__row
      width: 300px
      height: 60px
      display: flex
      flex-direction: row
      justify-content: center
      align-items: center
      position: relative
      cursor: pointer
      &:hover svg rect
        stroke: rgba(255,255,255,0.5)
        stroke-width: 2
        stroke-dasharray: 250, 110
        stroke-dashoffset: -24
      &:active svg rect
        stroke-width: 1
        stroke-dasharray: 400, 0
        transition: step-end
      &:active
        background-color: rgba(255,255,255,0.3)
        //^ links animation ^
    &__title 
      +bold
      display: flex
      align-items: center
      justify-content: center
      font-size: 24px
      color: #ffffff
      height: 40px
      text-transform: uppercase
      &_news
        +light
        font-size: 20px
        //^ title ^
    &__links
      text-decoration: none
      +light
      font-size: 20px
      color: #ffffff
      &-group
        width: 380px
        height: 550px
        border: 1px solid #ffffff
        border-radius: 2%
        display: flex
        flex-direction: column
        justify-content: space-around
        align-items: center
        &:nth-child(5)
          justify-content: space-between
          //^ links ^
  svg 
    position: absolute
    top: 0
    left: 0

  svg rect 
    stroke: transparent
    stroke-width: 1
    transition: 0.8s 
    stroke-dasharray: 400, 0
    //^ links animation presets ^
  .sidebar:target ~ .hero__inner 
    transform: rotateY(-15deg)
    //^ rotate value ^
  .close-btn
    position: absolute
    top: 10px
    left: 10px
    color: #ffffff
    font-size: 20px
    text-decoration: none
  .close-btn:hover
    color: #e9e5e5
    //^ close-btn ^
@media (max-width: 1810px)
  .sidebar:target ~ .hero__inner 
    transform: rotateY(-20deg)
    //^ rotate value ^
@media (max-width: 1610px)
  .sidebar:target ~ .hero__inner 
    transform: rotateY(-25deg)
    //^ rotate value ^
@media (max-width: 1520px)
  .sidebar:target ~ .hero__inner 
    transform: rotateY(-30deg)
    //^ rotate value ^
@media (max-width: 1420px)
  .sidebar:target ~ .hero__inner 
    transform: rotateY(-40deg)
    //^ rotate value ^
@media (max-width: 1240px)
  .sidebar:target ~ .hero__inner 
    transform: rotateY(-45deg)
    //^ rotate value ^

    //adaptive for PC
@media (max-width: 1173px)
  .hero
    height: 1140px
    &__main
      height: 900px
      display: flex
      flex-direction: column
      justify-content: space-around
      //^ form&video container ^
      //form----
    &__form-title
      display: flex
      flex-direction: row
    &__form-title span:first-of-type
      width: 150px
      +semibold
      font-size: 16px
    &__form-title span:last-of-type
      font-size: 16px
    &__form-wrap
      height: 400px
      width: 500px
    &__input-group
      width: 500px
    &__form-input
      padding: 13px 220px 13px 20px  
    &__form-input:last-child
      padding: 13px 220px 22px 20px
      line-height: 15px
      width: 378px
    &__form-button
      height: 75px
      width: 250px
      font-size: 16px
      //^ form ^
    &__logo
      width: 330px
      //sidebar
  .sidebar
    display: none
    z-index: -1
  .sidebar:target ~ .hero__inner 
    transform: rotateY(0)
    //^ sidebar disabled ^
@media ( max-width: 1020px )
  .hero
    &__title
      text-align: center
    &__logo
      display: none
    &__nav-wrap
      display: flex
      flex-direction: row
      justify-content: center


      //adaptive for tablets & phones
@media (max-width: 780px)
  iframe
    width: 560px
    height: 280px
      
  

@media (max-width: 590px)
  iframe
    width: 460px
    height: 230px

  .hero
    &__title
      font-size: 40px
    &__form-wrap
      width: 460px
      height: 400px
    &__input-group
      width: 460px
    &__navbar-link
      font-size: 10px
      display: block
      position: relative
      -webkit-tap-highlight-color: rgba(0, 0,0, 0 )
    &__navbar-link::after
      display: block
      content: ''
      background-color: #ffffff
      position: absolute 
      height: 1px
      width: 0%
      left: 50%
      transition: width .4s ease-in-out
      transform: translateX(-50%)
    &__navbar-link:active
      text-decoration: none
    &__navbar-link:hover::after
      width: 100%
    &__navbar-link:focus::after
      width: 100%
      
    .arrow
      display: none

@media (max-width: 590px)
  .hero
    height: 900px
    &__title
      font-size: 25px
      &-wrap
        height: 100px
    &__nav-wrap
      height: 55px
    &__form-wrap
      height: 400px
      width: 315px
    &__main
      height: 700px
    &__form-title
      height: 70px
      background: $dark-blue
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
    &__form-title span:nth-of-type(1)
      +bold
      +uppercase
      font-size: 15px
      color: #ffffff
      line-height: 20px
    &__form-title span:nth-of-type(2)
      +semibold
      +uppercase
      font-size: 12px
      color: #ffffff
    &__input-container 
      display: flex
      flex-direction: column
      align-items: center
      justify-content: flex-start
      height: 330px
      background: rgba(213,210,212,0.7)
    &__input-group
      padding-top: 15px
      width: 280px
      height: 225px
      display: flex
      flex-direction: column
      justify-content: space-between
      align-items: center
    &__form-input
      +light
      font-size: 13px
      padding: 13px 115px 13px 20px
      border: 1px solid #a3a0a2
    &__form-input:focus
      outline: none
    &__form-input:last-child
      padding: 13px 114px 22px 20px
      line-height: 15px
      width: 273px
    &__form-button
      +semibold
      +uppercase
      font-size: 14px
      color: #ffffff
      margin-top: 15px
      padding: 15px 30px
      background: #e93b3b
      border: none
      border-radius: 5px
      transition: ease-in-out 0.3s
    &__form-button:hover
      background: #ff6060
      cursor: pointer
    &__form-button:active
      background: #ffffff 
      color: #e93b3b
    &__form-button:focus
      outline: none

@media ( max-width: 490px )
  iframe
    width: 360px
    height: 180px

@media ( max-width: 390px )
  iframe
    width: 300px
    height: 150px
  .hero
    &__navbar-link
      font-size: 
    &__form-wrap
      width: 300px
    &__input-group
      width: 300px
    &__navbar-link
      font-size: 7px
  
  

