.advantages
  height: 235px
  background-color: #f3f3f3
  &__inner
    height: 230px
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    
  &__block
    height: 150px
    width: 265px
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-between
    
  &__title
    +bold
    font-size: 14px
    color: $red
  &__description
    +light
    font-size: 13px
    margin: 0
    text-align: center 

    //adaptive for PC
@media ( max-width: 1173px )
  .advantages
    height: 380px
    &__inner
      height: inherit
      justify-content: space-around
      flex-wrap: wrap
      width: 600px
    //adaptive for phones
@media ( max-width: 590px )
  .advantages
    height: 760px
  
  
  
