.advantages-list
  height: 630px
  background-color: #f3f3f3
  display: flex
  align-items: center
  &__inner
    width: 100%
    height: 100% !important
    display: flex
    flex-direction: column
    justify-content: center
  &__headers
    &-container
      display: flex
      justify-content: center
      height: 90px
    &-wrap
      display: flex
      flex-direction: column
      justify-content: space-between
      width: 300px
      height: 60px
      text-align: center
  &__header
    &-primary
      +regular
      font-size: 30px
      color: #3a3a3a
      height: 30px
    &-secondary
      +light
      font-size: 19px
      color: #3f3f3f
      height: 19px
  &__main-container
    display: flex
    justify-content: center
    height: 450px
    width: 100%
  &__numeration
    display: flex
    align-items: center
    justify-content: center
    height: 100%
    width: 30px
  &__num-svg
    height: 420px
  &__left-list
    display: flex
    flex-direction: column
    justify-content: space-between
    width: 555px
    height: 100%
  &__right-list
    display: flex
    flex-direction: column
    justify-content: space-evenly
    width: 555px
    height: 100%
  &__row
    display: flex
    align-items: center
    height: 60px
    width: 100%
    &-title
      +bold
      font-size: 14px
      color: #e93b3e
      &-left
        text-align: right
      &-wrap
        display: flex
        align-items: baseline
        height: 30px
        width: 100%
        &-left
          justify-content: flex-end
    &-description
      width: 445px
      +light
      font-size: 13px
      margin: 0
      &-wrap
        display: flex
        height: 30px
        &-left
          justify-content: flex-end
          text-align: right        
  &__text-container
    width: 100%
    height: 100%
  &__logo
    height: 60px
    width: 60px
    &-container
      display: flex
      justify-content: center
      align-items: center
      width: 100px
      height: 100%
  
@media (max-width: 1173px)
  .advantages-list
    &__right-list
      width: 480px
    &__left-list
      width: 480px
    &__text-container
      width: 380px
    &__row
      &-title
        &-wrap
          height: 20px
@media (max-width: 1020px)
  .advantages-list
    &__right-list
      width: 360px
    &__left-list
      width: 360px
    &__text-container
      width: 300px
    &__logo
      width: 50px
      height: 50px
    &__row
      height: 50px
      &-title
        font-size: 12px
      &-description
        font-size: 11px
@media (max-width: 780px)
  .advantages-list
    &__right-list
      width: 265px
    &__left-list
      width: 265px
    &__text-container
      width: 205px
    &__row
      height: 55px
      &-title
        font-size: 10px
        &-wrap
          height: 25px
      &-description
        font-size: 10px
    &__logo
      height: 45px
      width: 45px
@media (max-width: 590px)
  .advantages-list
    height: 600px
    &__right-list
      width: 215px
    &__left-list
      width: 215px
    &__text-container
      width: 155px
    &__header
      &-primary
        font-size: 25px
      &-secondary
        font-size: 15px
@media (max-width: 490px)
  .advantages-list
    &__right-list
      width: 165px
    &__left-list
      width: 165px
    &__logo
      display: none
      &-container
        display: none
    &__text-container
      width: 160px
    &__numeration
      margin: 0 5px
@media (max-width: 390px)
  .advantages-list
    &__right-list
      width: 135px
    &__left-list
      width: 135px
    &__text-container
      width: 130px
