.advantages
  height: 235px
  background-color: #f3f3f3
  &__inner
    height: 230px
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    
  &__block
    height: 150px
    display: flex
    flex-basis: 22%
    flex-direction: column
    align-items: center
    justify-content: space-between
    
  &__title
    +bold
    font-size: 14px
    color: $red
  &__description
    +light
    font-size: 13px
    margin: 0
    text-align: center 

    //adaptive for PC
@media ( max-width: 1173px )
  .advantages
    &__inner
      height: inherit
      justify-content: space-around
      flex-wrap: wrap

@media ( max-width: 1020px )
  .advantages
    height: 200px
    &__title
      font-size: 12px
    &__description
      font-size: 11px
    &__block
      height: 120px
  
@media ( max-width: 780px )
  .advantages
    &__logos
      height: 45px
      width: 45px
    &__title
      font-size: 10px
    &__description
      font-size: 10px
    //adaptive for phones
@media ( max-width: 590px )
  .advantages
    height: 300px
    &__block
      flex-basis: 40%

@media ( max-width: 390px )
  .advantages
    height: 200px
    &__title
      font-size: 12px
    &__description
      display: none
    &__block
      height: 70px
  
