.licenses
  height: 1020px
  width: 100%
  background: #f3f3f3
  &__inner
    height: 100%
    width: 100%
    margin: auto
  &__title
    +regular
    font-size: 30px
    color: #3A3A3A
    &-container
      display: flex
      justify-content: center
      align-items: flex-end
      height: 100px
      width: 100%
    &-wrap
      display: flex
      justify-content: center
      align-items: center
      height: 75px
      width: 100%
  &__block
    display: flex
    align-items: center
    justify-content: center
    width: 360px
    height: 260px
    padding: 5px
    &-container
      display: flex
      flex-wrap: wrap
      justify-content: space-between
      align-content: space-between
      width: 100%
      height: 850px
    &-inner
      width: 100%
      height: 100%
    &-img
      width: 100%
      height: 100%

      