.managers-ad
  display: block
  position: relative
  height: 345px
  background: url('../img/manager-ad_bg.jpeg')
  background-position: 26% 4%
  background-size: cover
  background-repeat: no-repeat
  z-index: 1
  &::after
    position: absolute
    content: ''
    top: 0
    left: 0
    right: 0
    bottom: 0
    background: rgba(1, 2, 46, 0.5)
    z-index: 2
  &__inner
    display: flex
    flex-direction: column
    justify-content: flex-start
    z-index: 3
  &__logo
    &-wrap
      display: flex
      justify-content: center
      align-items: center
      width: 100px
      height: 100px
      border-radius: 50%
      border: 1px solid #fff
      z-index: 3
  &__title
    +regular
    margin: 20px 0
    font-size: 30px
    text-align: center
    color: #fff
  &__description
    margin: 0
    +light
    font-size: 19px
    color: #ffffff
    text-align: center
  &__content-wrap
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    height: 330px
    width: inherit
    color: #ffff
    z-index: 3

@media ( max-width: 780px )
  .managers-ad
    &__description
      font-size: 15px

@media ( max-width: 780px )
  .managers-ad
    &__description
      font-size: 13px

@media ( max-width: 590px )
  .managers-ad
    &__title
      font-size: 25px
